extends layout

block content

	.upload.content
		.upload-title.blue
			p Edit
			p use 0xDEADBEEF as title to clear
		div.upload-inputs
			form(id="_form", name="upload", action="/edit", method="post", enctype='multipart/form-data')
				div.upload-label
					| Title
				if mix.title
					input(type="text", placeholder='Mix Title' name="title" value=`${mix.title}`)
				else
					input(type="text", name="title")
				div.upload-label
					| DJ
				if mix.dj
					input(type="text", name="dj" value=`${mix.dj}`)
				else
					input(type="text", name="dj")
				br
				div.upload-label
					| MCs
				if mix.mcs.length > 0
					input(type="text", name="mcs" value=`${mix.mcs}`)
				else
					input(type="text", name="mcs")
				div.upload-label
					| Crews
				if mix.crews.length > 0
					input(type="text", name="crews" value=`${mix.crews}`)
				else
					input(type="text", name="crews")
				div.upload-label
					| Radio Station / Rave:
				if mix.station
					input(type="text", name="station" value=`${mix.station}`)
				else
					input(type="text", name="station")
				br
				div.upload-label
					| Air Date
				if mix.day
					input(type="text", name="day" placeholder="day" class="date" value=`${mix.day}`)
				else
					input(type="text", name="day" placeholder="day" class="date")
				if mix.month
					input(type="text", name="month" placeholder="month" class="date" value=`${mix.month}`)
				else
					input(type="text", name="month" placeholder="month" class="date")
				if mix.year
					input(type="text", name="year" placeholder="year" class="date" value=`${mix.year}`)
				else
					input(type="text", name="year" placeholder="year" class="date")
				br

				div.upload-label
					| YouTube ID (optional)
				if mix.youtube
					input(type="text", name="youtube" placeholder="https://www.youtube.com" id="youtubeField" value=`https://www.youtube.com/watch?v=${mix.youtube}`)
				else
					input(type="text", name="youtube" placeholder="https://www.youtube.com" id="youtubeField")
				div.upload-divider
				br
				div.upload-label
					| Additional comments
				textarea(name="description" cols="40" rows="5")
					| #{mix.description}
				br
				div.upload-label
					| Hidden
				if mix.hidden
					input(type="checkbox" name="hidden" value="hidden" checked)
				else
					input(type="checkbox" name="hidden" value="hidden")
				br
				div.upload-divider
				div.upload-label
					| MP3 Options

				div.option-container
					div.mp3-option
						| Use title as album title?
					div.squaredOne
						input(type="checkbox" value="None" id="squaredOne2" name="albumtitle")
						label(for="squaredOne2")
					div.album-tooltip.tooltip-button
						|   (?)
					div.tooltip.album-tooltip-text
						br
						| If checked, the title of the mix will also be used as the tag for the album title,
						| otherwise the title 'Grime Archive' will be used.
				input(type="hidden", name="editUrl" value=`${mix.url}`)
				input(type='submit', value='Update mix', id='_submit')
				script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
