extends layout

block content

	.upload.content 

		div.upload-inputs
			form(id="_form", name="upload", action="/upload", method="post", enctype='multipart/form-data')
				div.upload-label
					| Title
				input(type="text", name="title" value='#{mix.title}')
				div.upload-label
					| DJ
				input(type="text", name="dj" value='#{mix.dj}')
				br
				div.upload-label
					| MCs
				input(type="text", name="mcs" value='#{mix.mcs}')
				div.upload-label
					| Crews
				input(type="text", name="crews" value='#{mix.crews}')
				div.upload-label
					| Radio Station / Rave: 
				input(type="text", name="station" value='#{mix.station}')
				br
				div.upload-label
					| Air Date
				input(type="text", name="day" placeholder="day" class="date" value='#{mix.day}')
				input(type="text", name="month" placeholder="month" class="date" value='#{mix.month}')
				input(type="text", name="year" placeholder="year" class="date" value='#{mix.year}')
				br
				div.upload-divider
				br
				div.upload-label
					| Additional comments
				textarea(name="description" cols="40" rows="5")
				br
				input(type='button',  onclick="uploadFile()", value='Upload', id='_submit' accept='audio/mpeg3,audio/mpeg,audio/mp3')
				script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
				script(type='text/javascript').
					function uploadFile() {
						console.log("uploading");
						//evt.preventDefault();
						var form = document.getElementById('_form');
						var fd = new FormData(form);

						var file = document.getElementById('_file');
							
						file.onchange = function(e){
							console.log("onchaaa");
						    var ext = this.value.match(/\.([^\.]+)$/)[1];
						    console.log(ext);
						    if (ext != 'mp3') {
						    		$('.progress').text("Invalid file type");
						    	} 
						};
						
						var acceptedTypes = ['mp3'];

						var xhr = new XMLHttpRequest();
						var filename = document.getElementById('_file').value;
						if (document.getElementById('_file').value == ''){
								$('#_submit').prop('value', 'No file selected');
						}
						else if (acceptedTypes.indexOf(filename.match(/\.([^\.]+)$/)[1]) == -1 ) {
							$('#_submit').prop('value', 'Invalid file type');
						}
						else {
							xhr.upload.addEventListener("progress", function (evt) {
									if (evt.lengthComputable) {
										var percentage = Math.floor((evt.loaded / evt.total) * 100);
										$('#_submit').prop('value', percentage + '%');
									}
								}, false);
							xhr.onreadystatechange = function() {
								var result;
								console.log(xhr);
	
								if (xhr.readyState == 4) {
									var split = xhr.responseText.split("/")[2];
									setInterval(function() { 
										$.get("upload/" + split, function (data) {
											if (parseInt(data) > 0) {
													window.location = xhr.responseText; 
												}
											}); 
										}, 200);
									
								}
							};
							xhr.open('post', '/upload', true);
							
							xhr.send(fd);	
						}
					}

		

