extends layout

block content
	h2 Welcome to #{title}
	.nav-bar
	p Grimetapes is a digital archive that aims to preserve the history of grime by providing free downloads of live recordings both old and new.
	h3 POPULAR MIXES

	table
		thead
			tr.mix-header
				td.header-title Title
				td.header-dj DJ
				td.header-mc Mcs
				td.header-crew Crews
				td.header-station Station / Rave
				td.header-date Air date
				td.header-duration Duration
				td.header-bitrate Bitrate
				td.header-downloads Downloads
				td.header-uploader Uploader
				td.header-uploaded Uploaded

		tbody
			each mix in popular
				tr.mix-row 		
					td 
						if mix.title
							a(href='/mix/' + mix.url) #{mix.title}
						else
							a(href='/mix/' + mix.url) Untitled
					td
						if mix.dj
							a(href='/dj/' + mix.dj) !{mix.dj}
						else
							| Unknown DJ

					td
						if mix.mcs.length
							each mc, index in mix.mcs
								if index < 4
									a(href='/mc/' + mc) !{mc}
									| /
								else if index == 4
									a(href='/mix/' + mix.url) more
						else
							| -
					td
						if mix.crews.length
							each crew, index in mix.crews
								if index < 3		
									a(href='/crew/' + crew) !{crew}
									| /
								else if index == 3
									a(href='/mix/' + mix.url) more
						else
							| -
					td
						if mix.station
							a(href='/station/' + mix.station) #{mix.station}
						else
							| Unknown Station
					if mix.day && mix.month && mix.year
						td  #{mix.day}/#{mix.month}/#{mix.year}
					else if mix.day && mix.month
						td #{mix.daty} / #{mix.month}
					else if mix.year
						td= mix.year
					else
						td unknown
					td #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)}
					td= Math.floor(mix.bitrate)
					td= mix.downloads
					td
						if mix.uploader == 'Anonymous'
							| Anonymous
						else
							a(id='upload_link' href='/uploader/' + mix.uploader + '-' + mix.tripcode) !{mix.uploader}
							div.tripcode
								!{mix.tripcode}
								script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
								script(type='text/javascript').
									var updateEmojis = function(event) {
										var tripcode = $('.tripcode').text().substring(0, 8);
										$.ajax({
											url: '/emoji/' + tripcode,
											type: 'GET',
											success: function(data){
												var oldLink = $('#upload_link').attr('href');
				
												var link = '<a href="' + $('#upload_link').attr('href') + '">';
												link += data + '</a>';
												$('.tripcode').html(link);
							
											}
										});
									}
									$(function(){
										updateEmojis();
									});
					
					td #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()}
	h3 RECENT MIXES

	table
		thead
			tr.mix-header
				td.header-title Title
				td.header-dj DJ
				td.header-mc Mcs
				td.header-crew Crews
				td.header-station Station / Rave
				td.header-date Air date
				td.header-duration Duration
				td.header-bitrate Bitrate
				td.header-downloads Downloads
				td.header-uploader Uploader
				td.header-uploaded Uploaded

		tbody
			each mix in recent
				tr.mix-row 		
					td 
						if mix.title
							a(href='/mix/' + mix.url) #{mix.title}
						else
							a(href='/mix/' + mix.url) Untitled
					td
						if mix.dj
							a(href='/dj/' + mix.dj) !{mix.dj}
						else
							| Unknown DJ
					td
						if mix.mcs.length
							each mc, index in mix.mcs
								if index < 4
									a(href='/mc/' + mc) !{mc}
									| /
								else if index == 4
									a(href='/mix/' + mix.url) more
						else
							| -
					td
						if mix.crews.length
							each crew, index in mix.crews
								if index < 3		
									a(href='/crew/' + crew) !{crew}
									| /
								else if index == 3
									a(href='/mix/' + mix.url) more
						else
							| -
					td
						if mix.station
							a(href='/station/' + mix.station) #{mix.station}
						else
							| Unknown Station
					if mix.day && mix.month && mix.year
						td  #{mix.day}/#{mix.month}/#{mix.year}
					else if mix.day && mix.month
						td #{mix.daty} / #{mix.month}
					else if mix.year
						td= mix.year
					else
						td unknown
					td #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)}
					td= Math.floor(mix.bitrate)
					td= mix.downloads
					td
						if mix.uploader == 'Anonymous'
							| Anonymous
						else
							a(id='upload_link' href='/uploader/' + mix.uploader + '-' + mix.tripcode) !{mix.uploader}
							div.tripcode
								!{mix.tripcode}
								script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
								script(type='text/javascript').
									var updateEmojis = function(event) {
										var tripcode = $('.tripcode').text().substring(0, 8);
										$.ajax({
											url: '/emoji/' + tripcode,
											type: 'GET',
											success: function(data){
												var oldLink = $('#upload_link').attr('href');
				
												var link = '<a href="' + $('#upload_link').attr('href') + '">';
												link += data + '</a>';
												$('.tripcode').html(link);
							
											}
										});
									}
									$(function(){
										updateEmojis();
									});
					
					td #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()}