extends layout

block content
	h1= title
	.nav-bar
		
	p Popular mixes

	table
		thead
			tr.mix-header
				td Title
				td DJ
				td Mcs
				td Crews
				td Station / Rave
				td Air date
				td Duration
				td Bitrate
				td Downloads
				td Uploader
				td Uploaded

		tbody
			each mix in popular
				tr.mix-row 		
					td 
						if mix.title
							a(href='/mix/' + mix.url) #{mix.title}
						else
							a(href='/mix/' + mix.url) Untitled
					td
						if mix.dj
							a(href='/dj/' + mix.dj) !{mix.dj}
						else
							| Unknown DJ

					td
						if mix.mcs.length
							each mc in mix.mcs	
								a(href='/mc/' + mc) !{mc}
								| /
						else
							| -
					td
						if mix.crews.length
							each crew in mix.crews	
								a(href='/crew/' + crew) !{crew}
								| /
						else
							| -
					td
						if mix.station
							a(href='/station/' + mix.station) #{mix.station}
						else
							| Unknown Station
					if mix.day && mix.month && mix.year
						td  #{mix.day}/#{mix.month}/#{mix.year}
					else if mix.day && mix.month
						td #{mix.daty} / #{mix.month}
					else if mix.year
						td= mix.year
					else
						td unknown
					td #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)}
					td= Math.floor(mix.bitrate)
					td= mix.downloads
					td
						if mix.uploader == 'Anonymous'
							| Anonymous
						else
							a(id='upload_link' href='/uploader/' + mix.uploader + '-' + mix.tripcode) !{mix.uploader}
							div.tripcode
								!{mix.tripcode}
								script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
								script(type='text/javascript').
									var updateEmojis = function(event) {
										var tripcode = $('.tripcode').text().substring(0, 8);
										$.ajax({
											url: '/emoji/' + tripcode,
											type: 'GET',
											success: function(data){
												var oldLink = $('#upload_link').attr('href');
				
												var link = '<a href="' + $('#upload_link').attr('href') + '">';
												link += data + '</a>';
												$('.tripcode').html(link);
							
											}
										});
									}
									$(function(){
										updateEmojis();
									});
					
					td #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()} #{mix.date.getHours()}:#{mix.date.getHours()} 
	p Recent

	table
		thead
			tr.mix-header
				td Title
				td DJ
				td Mcs
				td Crews
				td Station / Rave
				td Air date
				td Duration
				td Bitrate
				td Downloads
				td Uploader
				td Uploaded

		tbody
			each mix in recent
				tr.mix-row 		
					td 
						if mix.title
							a(href='/mix/' + mix.url) #{mix.title}
						else
							a(href='/mix/' + mix.url) Untitled
					td
						if mix.dj
							a(href='/dj/' + mix.dj) !{mix.dj}
						else
							| Unknown DJ

					td
						if mix.mcs.length
							each mc in mix.mcs	
								a(href='/mc/' + mc) !{mc}
								| /
						else
							| -
					td
						if mix.crews.length
							each crew in mix.crews	
								a(href='/crew/' + crew) !{crew}
								| /
						else
							| -
					td
						if mix.station
							a(href='/station/' + mix.station) #{mix.station}
						else
							| Unknown Station
					if mix.day && mix.month && mix.year
						td  #{mix.day}/#{mix.month}/#{mix.year}
					else if mix.day && mix.month
						td #{mix.daty} / #{mix.month}
					else if mix.year
						td= mix.year
					else
						td unknown
					td #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)}
					td= Math.floor(mix.bitrate)
					td= mix.downloads
					td
						if mix.uploader == 'Anonymous'
							| Anonymous
						else
							a(id='upload_link' href='/uploader/' + mix.uploader + '-' + mix.tripcode) !{mix.uploader}
							div.tripcode
								!{mix.tripcode}
								script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
								script(type='text/javascript').
									var updateEmojis = function(event) {
										var tripcode = $('.tripcode').text().substring(0, 8);
										$.ajax({
											url: '/emoji/' + tripcode,
											type: 'GET',
											success: function(data){
												var oldLink = $('#upload_link').attr('href');
				
												var link = '<a href="' + $('#upload_link').attr('href') + '">';
												link += data + '</a>';
												$('.tripcode').html(link);
							
											}
										});
									}
									$(function(){
										updateEmojis();
									});
					
					td #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()} #{mix.date.getHours()}:#{mix.date.getHours()} 