extends layout

block content
	if mix.hidden == false
		div.big.big-yellow
			if mix.dj
				a(href='/dj/' + mix.dj) #{mix.dj}
			else
				| Unknown DJ
			
		div.big.big-blue 
			if mix.title
				mix.title
			else
				| Untitled
		br
		if mix.mcs.length != 0
			div.big.big-red 
				| feat. 
				each mc in mix.mcs	
					a(href='/mc/' + mc) #{mc}
					| /
			br
		if mix.crews.length != 0
			div.big.big-green 
				each crew in mix.crews	
					a(href='/crew/' + crew) #{crew}
					| /
			br
		div.big.big-yellow
				if mix.day && mix.month && mix.year
					| !{mix.day}/#{mix.month}/#{mix.year}
				else if mix.day && mix.month
					| #{mix.daty} / #{mix.month}
				else if mix.year
					| #{mix.year}
				else
					| Unknown Date
		div.big.big-blue
				| @#{mix.station}
		br
		div.big.big-green
			| #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)} 
		div.big.big-blue
			| #{Math.floor(mix.bitrate)}kbps 
		div.big.big-yellow
			| #{mix.downloads} Downloads
		div.big.big-red
			a(download href='/download/' + mix.url) Download


		if mix.description
			div.mix-description
				p= mix.description

		div.mix-uploader
			p Uploaded #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()} by 
				if mix.uploader == 'Anonymous'
					| Anonymous
				else 
					a(href='/dj/' + mix.uploader) #{mix.uploader}
				| . 
				a(href='mailto:thecollegehill@gmail.com?subject=Report%20for%20Grimelist%20Mix%20%23' + mix.url) Report
				|  | 
				a(href='mailto:thecollegehill@gmail.com?subject=Correction%20for%20Grimelist%20Mix%20%23' + mix.url) Submit correction
	else 

		div.big.big-red
			p Mix Unavailable :(