extends layout

block content
	if mix.hidden == false
		div.big.yellow.mix-element
			if mix.dj
				a(href='/dj/' + mix.dj) #{mix.dj}
			else
				| Unknown DJ
			
		div.big.blue.mix-element 
			if mix.title
				| #{mix.title}
			else
				| Untitled
		br
		if mix.mcs.length != 0
			div.big.red.mix-element 
				| feat. 
				each mc in mix.mcs	
					a(href='/mc/' + mc) #{mc}
					| /
			br
		if mix.crews.length != 0
			div.big.green.mix-element 
				each crew in mix.crews	
					a(href='/crew/' + crew) #{crew}
					| /
			br
		div.big.yellow.mix-element 
				if mix.day && mix.month && mix.year
					| !{mix.day}/#{mix.month}/#{mix.year}
				else if mix.day && mix.month
					| #{mix.day} / #{mix.month}
				else if mix.year
					| Unknown Date, #{mix.year}
				else
					| Unknown Date
		div.big.blue.mix-element 
				| @#{mix.station}
		br
		div.big.green.mix-element 
			| #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)} 
		div.big.blue.mix-element 
			| #{Math.floor(mix.bitrate)}kbps 
		div.big.yellow.mix-element 
			| #{mix.downloads} Downloads
		div.big.red.mix-element 
			a(download href='/download/' + mix.url) Download


		if mix.description
			div.mix-description
				p= mix.description

		div.mix-uploader
			p Uploaded #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()} by 
				if mix.uploader == 'Anonymous'
					| Anonymous
				else 
					a(id="upload_link" href='/uploader/' + mix.uploader + '-' + mix.tripcode) #{mix.uploader}
					div.tripcode
						| #{mix.tripcode}
					script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
					script(type='text/javascript').
						var updateEmojis = function(event) {
							var tripcode = $('.tripcode').text().substring(0, 8);
							console.log("tripp");
							console.log(tripcode);
							$.ajax({
							url: '/emoji/' + tripcode,
							type: 'GET',
							success: function(data){
								console.log(data);
								var oldLink = $('#upload_link').attr('href');

								var link = '<a href="' + $('#upload_link').attr('href') + '">';
								link += data + '</a>';
								$('.tripcode').html(link);
			
							}
							});
						}
						$(function(){
							updateEmojis();
						});
				| . 
				a(href='mailto:thecollegehill@gmail.com?subject=Report%20for%20Grimelist%20Mix%20%23' + mix.url) Report
				|  | 
				a(href='mailto:thecollegehill@gmail.com?subject=Correction%20for%20Grimelist%20Mix%20%23' + mix.url) Submit correction
	else 

		div.big.red
			p Mix Unavailable :(