extends layout

block content
	h2= 'MIXES'

	table
		thead
			tr.mix-header
				td title
				td dj
				td uploader
				td crews
				td mcs
				td bitrate
				td downloads
				td air date
				td duration
				td uploaded

		tbody
			each mix in mixes
				tr.mix-row 		
					td 
						if mix.title
							a(href='/mix/' + mix.url) #{mix.title}
						else
							a(href='/mix/' + mix.url) Untitled
					td
						if mix.dj
							a(href='/dj/' + mix.dj) !{mix.dj}
						else
							| Unknown DJ
					td= mix.uploader
					td
						each crew in mix.crews	
							a(href='/crew/' + crew) !{crew}
					td
						each mc in mix.mcs	
							a(href='/mc/' + mc) !{mc}
					td= Math.floor(mix.bitrate)
					td= mix.downloads
					if mix.day && mix.month && mix.year
						td  #{mix.day}/#{mix.month}/#{mix.year}
					else if mix.day && mix.month
						td #{mix.daty} / #{mix.month}
					else if mix.year
						td= mix.year
					else
						td unknown
					td #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)}
					td #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()} #{mix.date.getHours()}:#{mix.date.getHours()} 
	div.page-selection
		if page > 1
			a(href= url + (parseInt(page) - 1)) Last Page
			| 

		if hasNext
			if !isNaN(page) 
				a(href= url + (parseInt(page) + 1)) Next Page
			else 
				a(href= url + ('2')) Next Page
