extends layout

block content
	h2= 'MIXES'

	table
		thead
			tr.mix-header
				td title
				td dj
				td uploader
				td crews
				td mcs
				td bitrate
				td downloads
				td date
				td duration

		tbody
			each mix in mixes
				tr.mix-row 		
					td 
						a(href='/mix/' + mix.url) #{mix.title}
					td
						a(href='/dj/' + mix.dj) !{mix.dj}
					td= mix.uploader
					td
						each crew in mix.crews	
							a(href='/crew/' + crew) !{crew}
					td
						each mc in mix.mcs	
							a(href='/mc/' + mc) !{mc}
					td= mix.bitrate
					td= mix.downloads
					if mix.day && mix.month && mix.year
						td  #{mix.day} / #{mix.month} / #{mix.year}
					else if mix.day && mix.month
						td #{mix.daty} / #{mix.month}
					else if mix.year
						td= mix.year
					else
						td unknown
					td #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)}
	div.page-selection
		if page > 1
			a(href='/mixes/page/' + (parseInt(page) - 1)) Last Page
		a(href='/mixes/page/' + (parseInt(page) + 1)) Next Page
