extends layout

block content
	h2= 'MIXES'

	table
		thead
			tr.mix-header
				td title
				td dj
				td uploader
				td crews
				td mcs
				td bitrate
				td downloads
				td air date
				td duration
				td uploaded

		tbody
			each mix in mixes
				tr.mix-row 		
					td 
						a(href='/mix/' + mix.url) #{mix.title}
					td
						a(href='/dj/' + mix.dj + '/page/1') !{mix.dj}
					td= mix.uploader
					td
						each crew in mix.crews	
							a(href='/crew/' + crew + '/page/1') !{crew}
					td
						each mc in mix.mcs	
							a(href='/mc/' + mc + '/page/1') !{mc}
					td= mix.bitrate
					td= mix.downloads
					if mix.day && mix.month && mix.year
						td  #{mix.day}/#{mix.month}/#{mix.year}
					else if mix.day && mix.month
						td #{mix.daty} / #{mix.month}
					else if mix.year
						td= mix.year
					else
						td unknown
					td #{Math.floor(mix.duration / 60)}:#{Math.floor(mix.duration % 60)}
					td #{mix.date.getDate()}/#{mix.date.getMonth() + 1}/#{mix.date.getFullYear()} #{mix.date.getHours()}:#{mix.date.getHours()} 
	div.page-selection
		if page > 1
			a(href= url + (parseInt(page) - 1)) Last Page
		a(href= url + (parseInt(page) + 1)) Next Page
